:root{
    --white: rgba(255, 255, 255, 1);
    --grey: rgb(78, 78, 78);
    --black: rgb(0, 0, 0);
    --light-grey: rgb(204, 201, 201);
    --dark-purple: rgba(186, 0, 183, 1);
    --yellow: rgba(255,255,0);
    --error: rgb(255, 0, 0);
    --roboto-fnt: "Roboto Slab";
    --droid-fnt: "Droid Sans";
}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
    background: linear-gradient(to bottom right, var(--white) 60%, var(--dark-purple));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.popup-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgb(94, 93, 93,0.8);
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    visibility: hidden;
}
/* Popup message */
.popup-message{
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1.2em 1.2em 1.2em;
    margin: 1.5em;
}
.popup-message .logo{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    aspect-ratio: 1/1;
    rotate: -20deg;
    border: 3px solid var(--black);
    border-radius: 50%;
}
.popup-message .logo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    box-shadow: 0 0 10px var(--black);
    width: 100%;
    height: 100%;
    scale: 1.1;
}
.popup-message .logo-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--yellow);
    border-radius: 50%;
}
/* .popup-message .logo{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 80px;
    aspect-ratio: 1/1;
    rotate: -20deg;
    animation: girar 4s;
    animation-delay: 2s;
} */
.popup-message .exit{
    position: absolute;
    cursor: pointer;
    color: var(--grey);
    font-size: 1.2rem;
    top: 0;
    right: 0;
    margin: 5px 10px;
}
.popup-message .exit:hover{
    color: var(--dark-purple);
}
.popup-message strong{
    font-family: var(--roboto-fnt);
    font-size: 1.2rem;
    text-align: center;
    color: var(--black);
}
/* Main container */
.main-container{
    z-index: 1;
    height: 420px;
    height: 100%;
    min-height: 400px;
    width: 100%;
    max-width: 450px;
    background-color: var(--white);
    box-shadow: 0 0 20px var(--grey);
    border-radius: 1em;
    border-top: 1em solid var(--dark-purple);
    margin: 2em;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;
}
/* Layout */
form{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}
.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    position: relative;
    transition: all .3s ease-in-out;
}
.form-section{
    height: 100%;
}
.form-section:first-child{
    position: relative;
}
.form-section:not(:first-child){
    position: absolute;
    transform: translatex(110%);
}
/* General styling */
.data{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--grey);
    transition: all .1s ease;
    position: relative;
}
.border{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-family: var(--roboto-fnt);
    color: var(--dark-purple);
    font-size: .9rem;
    text-align: center;
    border-top: 3px solid var(--dark-purple);
    transform: scale(0, 1);
    transition: all .3s ease-in-out;
}
.error{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-family: var(--roboto-fnt);
    font-size: .9rem;
    text-align: center;
    transform: scale(1,1);
    text-align: center;
    border-top: 3px solid var(--error);
}
.data:focus-within .border{
    transform: scale(1,1);
}
.data:not(.observaciones):focus-within{
    border-bottom: none;
}
.observaciones{
    border-bottom: none;
}

.form .data small{
    color: var(--grey);
    font-weight: bold;
}
.form .data label{
    font-size: 1.1rem;
}
.form :is(input,label, textarea){
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 10px;
    margin: 3px;
}
.form textarea{
    height: 130px;
    border-radius: 10px;
    background-color: var(--light-grey);
    resize: none;
}
.form :is(input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button, input[type="number"]){
    -webkit-appearance: none;
    -webkit-appearance: textfield;
}
i{
    font-size: 1rem;
    color: var(--dark-purple);
    margin-right: 5px;
}
.form-title{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
.main-container h1, .form span{
    font-family: var(--roboto-fnt);
}
.main-container h1{
    width: 100%;
    text-align: center;
}

/* Buttons*/
.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.buttons-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.buttons-section button{
    width: 90px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: 3px solid var(--black);
    border-radius: 8px;
    transition: all .3s ease;
    cursor: pointer;
}
.buttons-section button:focus{
    border: 3px solid var(--dark-purple);
    box-shadow: 0 0 5px var(--dark-purple);
}
.buttons-container button:hover{
    border: 3px solid var(--dark-purple);
    box-shadow: 0 0 5px var(--dark-purple);
}
/* Animation for logo */
@keyframes girar {
    0%{
        transform: rotatey(0);
    }
    50%{
        transform: rotatey(400deg);
    }
    60%{
        transform: rotatey(120deg);
    }
    90%{
        transform: rotatey(330deg);
    }
    100%{
        transform: rotatey(0);
    }
}
/* media query*/
@media screen and (max-width: 476px) {
    .observaciones textarea{
        height: 350px;
    }
}